---
import PageLayout from '../layouts/PageLayout.astro';
---
<PageLayout title="About" activePage="about">
  <div
    class="flex flex-col items-center justify-center text-center px-1  -translate-y-24"
    style="min-height: calc(100vh - 4rem);"
  >
    <h1
      class="text-white font-bold mb-10"
      style="font-family: var(--font-serif); font-size: clamp(1.8rem, 3vw, 2.4rem);"
    >
      About
    </h1>

    <p
      class="text-white text-sm leading-7 mb-10"
      style="font-family: var(--font-sans); max-width: 700; opacity: 0.88; font-size: 1.5rem"
    >
      My name is Uri Darom.
      <br>
      I am a first-year college student studying computer science.
      <br>
      I enjoy photography, astrophotography, and also other things.
    </p>

    <div style="font-family: var(--font-sans); opacity: 0.88">
      <p class="text-white text-sm mb-2" style="font-size: 1.5rem">Want to get in touch:</p>
      <a
        href="mailto:uridarom@gmail.com"
        class="text-white text-sm  hover:opacity-60 transition-opacity duration-200"
        style="font-size: 1.5rem"
      >
        uridarom@gmail.com
      </a>
    </div>
  </div>
</PageLayout>
