---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  photos: CollectionEntry<'photos'>[];
}
const { photos } = Astro.props;
---
<div
  id="masonry-grid"
  style="column-gap: 6px;"
  class="columns-1 md:columns-2 lg:columns-3 w-[95%] md:w-[85%] mx-auto"
>
  {photos.map((photo) => (
    <a
      href={`/photos/${photo.id.split('/').pop()}`}
      data-category={photo.data.category}
      style="display: block; break-inside: avoid; padding-bottom: 6px;"
      class="group"
    >
      <Image
        src={photo.data.image}
        alt={photo.data.title}
        widths={[400, 800]}
        sizes="33vw"
        class="w-full block group-hover:opacity-85 transition-opacity duration-300"
        loading="lazy"
      />
    </a>
  ))}
</div>
