---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

interface Props {
  project: CollectionEntry<'projects'>;
}
const { project } = Astro.props;
---
<a
  href={`/projects/${project.id.split('/').pop()}`}
  class="block max-w-2xl mx-auto mb-2 rounded-md bg-[#121212] hover:bg-[#1c1c1c] transition-colors duration-100 p-3"
 >
  <div class="flex items-center gap-4">
    {project.data.image && (
      <Image
        src={project.data.image}
        alt={project.data.title}
        width={96}
        height={96}
        class="flex-shrink-0 rounded-md object-cover hidden sm:block"
      />
    )}
    <div class="project-text">
      <div class="flex gap-2 items-center">
        <p class="font-bold text-white text-base">{project.data.title}</p>
        <p class="opacity-50"> - {project.data.date.toISOString().split('T')[0]}</p>
      </div>
      <p class="text-white text-sm mt-2 opacity-80 leading-relaxed" style="white-space: pre-line">{project.data.description}</p>
    </div>
  </div>
</a>
